<!DOCTYPE html>
<html>
<head>
    <script src="/static/jquery-1.10.2.js"></script>
    <script src="/static/jquery.jstree.js"></script>
    <script src="/static/ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/themes/base/jquery-ui.css">
    <style>
        body {
            font: 12px sans-serif;
        }

        #tree {
            width: 300px;
            float: left;
            border: 1px ridge darkgray;
            margin: 2px;
            padding: 5px;
        }

        .red {
            background-color: #B22222;
        }

        .green {
            background-color: #90EE90;
        }
    </style>
</head>
<body>


<div id="tree" class="jstree"></div>
<script>
    $.getScript('meal_tree.js');
</script>
</body>

</html>